div{
    padding: 20;
    border: thin solid red;
}
.myheader{
    background-color: black;
    color: white;
}
.bodyofcontent{
    background-color: blue;
    color: white;
}
.footer{
    background-color: red;
    color: white;
}